{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VogueWalk || {{pd.title}}</title>
    <link rel="stylesheet" href="{%static 'styles/products.css'%}">
    <link rel="stylesheet" href="{%static 'styles/home.css'%}">
    <link rel="stylesheet" href="{%static 'styles/fonts.css'%}">
</head>
<body>
    <nav class="nav active">   
        <a href="/" style="text-decoration: none;">
        <div class="logo-wrap">
            <img src="{%static 'images/logo.png'%}" alt="logo">
            <p class="logohead active">VogueWalk</p>
        </div>
        </a>
        <div class="navright">
            <div class="search active" style="display: flex; align-items: center;">
                <a href="/Cart">My Cart</a>
                <img src="{%static 'images/cart.svg'%}" alt="search" style="filter: invert(1);">
            </div>

            <div class="ham active">
                <span class="span1"></span>
                <span class="span2"></span>
                <span class="span3"></span>
            </div>
        </div>
        <div class="mobilenav">
            <ul class="mobilenavul">
                <li class="mobilenavhead">Menu</li>
                <li><a href="/">Home</a></li>
                <span></span>
                <li><a href="/store">Store</a></li>
                <span></span>
                <li><a href="/cart">My Cart</a></li>
                <span></span>
                <li><a href="/contact">Contact</a></li>
                <span></span>
                {%if not request.user.is_authenticated%}
                <li><a href="/Signup">Signup/Signin</a></li>
                <span></span>
                {%endif%}
                <li><a href="/logout" class="logouttxt">Logged in as {{request.user}} - logout</a></li>
                <span></span>
            </ul>
        </div>
    </nav>
    <section class="parent" style="min-height: 100vh;">
        <div class="return">
            <img src="{%static 'images/arr.svg'%}" alt="#">
            <a href="/store">Back to store</a>
        </div>
        <main>
            <div class="productjb">
                <div class="pdwrap">
                    <img src="{{MEDIA_URL}}{{pd.image}}" alt="">
                </div>
                <div class="pdimages">
                    <img src="{{MEDIA_URL}}{{pd.auximage2}}" alt="">
                    <img src="{{MEDIA_URL}}{{pd.auximage2}}" alt="">
                    <img src="{{MEDIA_URL}}{{pd.auximage3}}" alt="">
                </div>
            </div>
            <div class="productdetails">
                <div class="product-head">
                    <p>{{pd.title}}</p>
                </div>
                <div class="price">
                    <p>₹{{pd.price}}</p>
                </div>
                <div class="productbtnwrap">
                    <a href="{%url 'checkout' pd.id%}">
                    <button class="buybtn">
                        Buy Now
                        <img src="{%static 'images/shop.svg'%}" alt="#">
                    </button>
                    </a>
                    <a href="{%url 'addToCart' pd.id%}">
                    <button class="cartbtn">
                        Add to Cart
                        <img src="{%static 'images/cart.svg'%}" alt="#">
                    </button>
                    </a>
                </div>
                <div class="prod-description-wrap">
                    <p class="product-header">Product Details</p>
                    <p class="product-description">{{pd.long_description}}</p>
                </div>
            </div>

        </main>
    </section>
    <script src="{%static 'js/nav.js'%}"></script>
    <script>
        let title = document.getElementsByTagName('title')
        let lg = document.querySelector('.logouttxt')
        let text = "{{request.user}}";
        if (text=="AnonymousUser")
        {
            lg.style.display = "None"
        }
    </script>
</body>
</html>